/*
 * Project Name: SwoleLog - an application that logs your workout progress for weightlifting. 
 * Author: Johnathon Wood
 * email: jaywood128@gmail.com
 *  
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* TOC 
  * =01 Reset/global defaults 
  * =02 Typography 
  * =03 Navbar 
  * =04 Layout 
 */ 

/***** =01 Reset *****/ 

* { box-sizing: border-box; }

/***** =02 Typography *****/ 
// general ---> specific 
div { text-align: center; }
dd { 
  color: #222;
  font-size: .75rem;
  font-style: italic; 
 }

dd span {
  font-style: normal;
 }

.show h1 { 
  font-size: 1.5rem;
  margin-bottom: 2.0rem;
 }




/***** =03 Navbar *****/
.navbar {
  margin-bottom: 2rem;
} 

/***** =04 Layout *****/ 


 
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 150px;
  top: 10px;
  right: 0px;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body{
  background:#F8F8FF;
  color:#05386B
}
#new_user {
  margin-left: 20px;
  bottom: -50px;
}
.left-margin { margin-left: 2px }

li {
  list-style-type: none;
}

.bg-custom{
  background-color: #05386B !important; 
}

.navbar .navbar-expand-lg .navbar-light {
  .navbar-collapse {
    background-color: #242582;

  }
}


body {font-family: Arial, Helvetica, sans-serif;}

//login and sign-in form CSS and styling

.form-control{
  height: 41px;
  background: #f2f2f2;
  box-shadow: none !important;
  border: none;
}
.form-control:focus{
  background: #e2e2e2;
}
  .form-control, .btn{        
      border-radius: 3px;
  }
.signup-form{
  width: 390px;
  margin: 30px auto;
}
.signup-form form{
  color: #999;
  border-radius: 3px;
    margin-bottom: 15px;
      background: #fff;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
      right: 0;
      max-width: 300px; 
      margin-top: 10px;
      position: relative;
      right: -100px;
  // margin: 20px;
  // max-width: 300px;
  // padding: 16px;
  }
.signup-form h2 {
  color: #333;
  font-weight: bold;
      margin-top: 0;
  }
  .signup-form hr {
      margin: 0 -30px 20px;
  }    
.signup-form .form-group{
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
  margin-top: 3px;
}
.signup-form .row div:first-child{
  padding-right: 10px;
}
.signup-form .row div:last-child{
  padding-left: 10px;
}
  .signup-form .btn{        
      font-size: 16px;
      font-weight: bold;
  background: #3598dc;
  border: none;
  min-width: 140px;
  }
.signup-form .btn:hover, .signup-form .btn:focus{
  background: #2389cd !important;
      outline: none;
}
  .signup-form a{
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover{
  text-decoration: none;
}
.signup-form form a{
  color: #3598dc;
  text-decoration: none;
}	
.signup-form form a:hover{
  text-decoration: underline;
}
  .signup-form .hint-text {
  padding-bottom: 15px;
  text-align: center;
  }
.login-form {
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  // margin: auto;
  position: absolute;
  margin: 0px;
  padding: 16px;
  background-color: white;
  left: 50%; 
  margin-left: -150px; 
  // top: 50%;
  // height: 45vh;
  // margin-bottom: -50%
}
.welcome-user{
  margin-top: 10px;
}

.login-container {
  height: 100vh;
  background-image: url("https://www.attacktheback.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2018/03/barbellchalk-1160x700-990x597.jpg.webp");
  background-repeat: no-repeat;
  background-size: auto;
  width: 100vw;
  display: flex; 
  align-items: center;  
}

* {
  box-sizing: border-box;
}

.bg-img{
  background-image: url("https://i.pinimg.com/originals/7f/02/f0/7f02f098ce7d483283c2b2b9486a4cef.jpg");
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}





/* https://www.w3schools.com/howto/howto_css_modals.asp */
