/*
 * Project Name: SwoleLog - an application that logs your workout progress for weightlifting. 
 * Author: Johnathon Wood
 * email: jaywood128@gmail.com
 *  
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* TOC 
  * =01 Reset/global defaults 
  * =02 Typography 
  * =03 Navbar 
  * =04 Layout 
 */ 

/***** =01 Reset & Global Declarations *****/ 


* { box-sizing: border-box; }

li { 
  list-style-type: none; 
  font-size: 1.5rem;
}

ul { top: 10%}

.left-margin { margin-left: 2px }

.hide-me { display: none; }

/* The Close Button */
.close {
  width: 44px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgb(128,128,128); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 1; /* Sit on top */
}

/* Modal Content/Box */
.modal-content {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  // justify-content: flex-end;
  background-color: #fefefe;
  margin: 35% auto 0; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */

}

/***** =02 Typography *****/ 
// general ---> specific 

body {
  font-family: Arial, Helvetica, sans-serif;
  color:#05386B;
}


div { text-align: center; }

dd { 
  color: #222;
  font-size: .75rem;
  font-style: italic; 
 }

dd span {
  font-style: normal;
 }

.show h1 { 
  font-size: 1.5rem;
  margin-bottom: 2.0rem;
 }

 .signup-form form{
  color: #999;
}

 .signup-form .btn{        
  font-size: 16px;
  font-weight: bold;
}

.signup-form h2 {
  color: #333;
  font-weight: bold;
}

.signup-form a{
  color: #fff;
  text-decoration: underline;
}

.signup-form a:hover{ text-decoration: none; }

.signup-form form a{
  color: #3598dc;
  text-decoration: none;
}	

.signup-form form a:hover{ text-decoration: underline; }

/***** =03 Navbar *****/
.navbar { margin-bottom: 2rem; } 

.navbar .navbar-expand-lg .navbar-light {
  .navbar-collapse {
    background-color: #242582;

  }
}

/***** =04 Layout *****/ 

body{ background:#F8F8FF; }

#new_user {
  margin-left: 20px;
  bottom: -50px;
}

.bg-custom{
  background-color: #05386B !important; 
}

.new_exercise_set{ 
  display: flex;
  flex-direction: column;
 }

//login and sign-in form CSS and styling

.form-control{
  height: 41px;
  background: #f2f2f2;
  box-shadow: none !important;
  border: none;
}
.form-control:focus{
  background: #e2e2e2;
}
  .form-control, .btn{        
      border-radius: 3px;
  }
.signup-form{
  width: 390px;
  margin: 30px auto;
}

.signup-form form{
  position: relative;
  right: -100px;
  max-width: 300px; 
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 30px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.signup-form h2 { margin-top: 0; }

  .signup-form hr {
      margin: 0 -30px 20px;
  }    
.signup-form .form-group{
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
  margin-top: 3px;
}
.signup-form .row div:first-child{
  padding-right: 10px;
}
.signup-form .row div:last-child{
  padding-left: 10px;
}

.signup-form .btn{        
  background: #3598dc;
  border: none;
  min-width: 140px;
}

.signup-form .btn:hover, .signup-form .btn:focus{
  background: #2389cd !important;
      outline: none;
}
 
  .signup-form .hint-text {
  padding-bottom: 15px;
  text-align: center;
  }
.login-form {
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  // margin: auto;
  position: absolute;
  margin: 0px;
  padding: 16px;
  background-color: white;
  left: 50%; 
  margin-left: -150px; 
  // top: 50%;
  // height: 45vh;
  // margin-bottom: -50%
}
.welcome-user{
  margin-top: 10px;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex; 
  align-items: center; 
  margin-top: -2em;
  background-image: url("https://www.attacktheback.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2018/03/barbellchalk-1160x700-990x597.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.bg-img{
  background-image: url("https://i.pinimg.com/originals/7f/02/f0/7f02f098ce7d483283c2b2b9486a4cef.jpg");
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}





/* https://www.w3schools.com/howto/howto_css_modals.asp */
